.div1{
    height:100px;
    width:100px;
    background-color:#C67664;
    display: inline-block; 
}
.div2{
    height:100px;
    width:100px;
    background-color:#408B31;
    display: inline-block; 
}
.div3{
    height:100px;
    width:100px;
    background-color:blue;
    display: inline-block; 
}